<% if @event.errors.any? %>
    <div id="error_explanation">
        <p><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</p>
        <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with model: [ :user, @event] do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
    <div>
        <% if @event.persisted? %>
            <p><%= measurement_description(@event) %></p>
            <p>Units cannot be edited once an event is created</p>
        <% else %>
            <%= form.label :measurement %>
            <%= form.select :units, [["Time", "seconds"], ["Weight", "kilograms"], ["Distance", "meters"], ["Repetitions", "integer"]] %>
        <% end %>
    </div>
    <%= form.submit %>
<% end %>